RewriteEngine On

Redirect https://www.koofamilies.com/ https://www.koofamilies.com/index.php
Redirect https://koofamilies.com https://www.koofamilies.com/index.php?vs=2c19ac7effea21eb68735804a0fb783c
